<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>

    <section id="header">
        <a href="#"><img src="standout.png" class="logo" alt=""></a>  
        <div>
            <ul id="navbar">
                <li><a href="index.html" >HOME</a></li>
                <li><a href="about.html">ABOUT US</a></li>
                <li><a href="shop.html">SHOP</a></li>
                <li><a href="contact.html">CONTACT INFO</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-bag "></i></a></li>
        
            </ul>
        </div>
    </section>
    
<section id="a2">
    <div >
        <h1>STANDOUT</h1>
    </div>
</section>

<section id="a3">
    <div>
<h1>hello</h1>
    </div>
</section>

</body>
</html>