<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
</head>
<body>
    <section id="header">
        <a href="#"><img src="standout.png" class="logo" alt=""></a>  
        <div>
            <ul id="navbar">
                <li><a href="index.html" >HOME</a></li>
                <li><a href="about.html">ABOUT US</a></li>
                <li><a href="shop.html">SHOP</a></li>
                <li><a href="contact.html">CONTACT INFO</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-bag "></i></a></li>
        
            </ul>
        </div>
    </section>

    <section id="dress">
        <div id="ab1">
            <h2 style="font-size: 200%;">Sustainble Brand</h2>
            <h1 style="font-size: 300%;">Unleash Your Style: Stand Out with Every Outfit!</h1>
            <p style="font-size: 200%;">Amazing offers and discounts !!</p>
        </div>
    </section>

    <section id="product" class="p1">
        <h2>PRODUCTS</h2>
        <div class="ab2">
            <div class="ab3">
                <img src="img2.png" alt="" >
                <div class="ab4">
                    <h3>Dress1</h3>
                    <h4>PRICE: Rs.1500</h4>
                </div>
            <a href="#"><i class="fal fa-shopping-bag"></i></a>
            </div>

            <div class="ab3">
                <img src="img3.png" alt="" height="410px">
                <div class="ab4">
                    <h3>Dress2</h3>
                    <h4>PRICE: Rs.1100</h4>
                </div>
            <a href="#"><i class="fal fa-shopping-bag"></i></a>
            </div>

            <div class="ab3">
                <img src="img4.png" alt="" height="410px">
                <div class="ab4">
                    <h3>Dress3</h3>
                    <h4>PRICE: Rs.1300</h4>
                </div>
            <a href="#"><i class="fal fa-shopping-bag"></i></a>
            </div>

            <div class="ab3">
                <img src="img5.png" alt="" height="410px">
                <div class="ab4">
                    <h3>Dress4</h3>
                    <h4>PRICE: Rs.1000</h4>
                </div>
            <a href="#"><i class="fal fa-shopping-bag"></i></a>
            </div>
        </div> 
    </section>

    <script src="script.js"></script>
</body>
</html>
